@use '../abstracts' as a;

    #exhibition-hero {
        width: 100%;
        height: auto;
    }

    #exhibition-main {
        background-color: darkgray;
        height: 92vh;
    }

    #exhibition-main picture, #exhibition-main img {
        width: 100%;
        height: 100%;
        display: block;
    }

    #exhibition-main img {
        object-fit: cover;
    }

    #eh-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        width: 100%;
        padding: 25px 25px 20px 25px;
        background-color: a.$accent-color;
    }


    .eh-sub-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25vw;
        // width: 125px;
        // height: 150px;
        // width: 350px;
        // height: 300px;
        gap: 10px;
    }

    #eh-container .hero-sub-heading {
        font-size: 4vw;
    }

    #gutter-7, #gutter-8 {
        height: 50px;
        width: 100%;
        background-color: a.$accent-color;
    }

    #es-heading {
        font-size: 2.5rem;
        color: white;
        width: 100%;
        max-width: 550px;
        margin: 0px auto;
        margin-top: 50px;
        margin-bottom: 25px;
        padding: 0px 25px;
    }

    #exhibition-social {
        background-color: a.$primary-color;
        height: auto;
        width: 100%;
        margin: 0 auto;
    }

    .video-container .plyr {
        border-radius: 20px; /* Slightly smaller than the container to fit inside the 5px border */
        overflow: hidden;
    }

    .video-container, .video-player {
        width: 90%;
        max-width: 500px;
        height: auto;
        margin: 0 auto;
        border-radius: 25px;
    }

    .video-container {
        border-radius: 25px;
        border: 5px solid a.$secondary-color;
    }

    #es-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        margin: 25px auto;
        padding: 25px 25px;
    }

    .es-container {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        width: 100%;
        max-width: 500px;
    }

    .es-sub-img {
        background-color: gray;
        height: auto;
        width: 100%;
    }

    .es-sub-img picture, .es-sub-img img,
    #es-about-img picture, #es-about-img img {
        width: 100%;
        height: 100%;
        display: block;
    }

    .es-sub-img img, #es-about-img img {
        object-fit: cover;
    }

    .es-gutter {
        height: 5px;
        width: 100%;
        background-color: a.$accent-color;
    }

    .es-sub-heading {
        color: white;
        font-size: 1.5rem;
        font-family: a.$primary-font;
    }

    .es-sub-text {
        color: white;
        font-size: 1rem;
        font-family: a.$secondary-font;
        line-height: 25px;
    }
    
    #es-sub-content {
        display: flex;
        flex-direction: column;
        background-color: a.$accent-color;
        width: 100%;
        padding: 25px 25px;
    }

    #es-about-img {
        background-color: gray;
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0 auto;
        order: 2;
    }

    #es-about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        width: 100%;
        max-width: 500px;
        padding-bottom: 25px;
        margin: 0 auto;
        order: 1;
    }

    #es-about-heading {
        color: white;
        font-size: 2.2rem;
    }

    #es-about-description {
        color: white;
        font-size: 1rem;
        font-family: a.$secondary-font;
        line-height: 25px;
    }

    #exhibition-gallery {
        width: 100%;
        background-color: a.$primary-color;
        padding: 0px 25px 35px 25px;
        gap: 10px;
    }

    #eg-heading {
        font-size: 2.5rem;
        text-align: center;
        padding: 25px 0px;
        color: white;
    }

    .gallery-box {
        gap: 10px;
        width: 100%;
        max-width: 500px;
        height: auto;
        background-color: gray;
        margin: 0 auto;
    }

    .gallery-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #eg-btn-container {
        display: flex;
        justify-content: center;
    }

    #eg-btn {
        padding: 10px 50px;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        background-color: a.$secondary-color;
        border: 3px solid  a.$accent-color;
        margin-top: 25px;
        cursor: pointer;
    }


@media screen and (min-width: 768px) {

    #exhibition-hero {
        width: 100%;
        height: auto;
    }

    #exhibition-main {
        background-color: darkgray;
        height: 92vh;
    }

    #eh-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 30px 25px 20px 25px;
    }

    .eh-sub-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25vw;
        // width: 125px;
        // height: 150px;
        gap: 10px;
    }

    #eh-container .hero-sub-heading {
        font-size: 3vw;
    }

    #gutter-7, #gutter-8 {
        height: 50px;
        width: 100%;
        background-color: a.$accent-color;
    }

    #exhibition-social {
        background-color: a.$primary-color;
        height: auto;
        padding: 0px 0px;
    }

    #es-heading {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 25px;
        color: white;
        max-width: unset;
    }

    .video-container, .video-player {
        width: 90%;
        max-width: unset;
        height: auto;
        margin: 0 auto;
        border-radius: 25px;
    }

    #es-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .es-container {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        width: 300px;
        height: auto;
    }

    .es-sub-img {
        background-color: gray;
        height: 300px;
        width: 100%;
    }

    .es-gutter {
        height: 5px;
        width: 100%;
        background-color: a.$accent-color;
    }

    .es-sub-heading {
        color: white;
    }

    .es-sub-text {
        color: white;
    }
    
    #es-sub-content {
        display: flex;
        flex-direction: row;
        background-color: a.$accent-color;
        gap: 25px;
        width: 100%;
        padding: 50px 25px;
    }

    #es-about-img {
        background-color: gray;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
        order: 2;
    }

    #es-about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 100%;
        max-width: unset;
        padding-bottom: 25px;
        margin: 0 auto;
        order: 1;
    }

    #es-about-heading {
        color: white;
        font-size: 2.5rem;
    }

    #es-about-description {
        color: white;
        font-size: 1.2rem;
    }

    #exhibition-gallery {
        width: 100%;
        background-color: a.$primary-color;
        padding: 0px 25px 35px 25px;
        gap: 10px;
    }

    #eg-heading {
        font-size: 2.8rem;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 25px;
        color: white;
    }

    .gallery-box {
        gap: 10px;
        width: 100%;
        height: auto;
        max-width: unset;
        background-color: gray;
    }


    .gallery-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #eg-btn-container {
        display: flex;
        justify-content: center;
    }

    #eg-btn {
        padding: 10px 50px;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        background-color: a.$secondary-color;
        border: 3px solid  a.$accent-color;
        margin-top: 25px;
        cursor: pointer;
    }

}

@media screen and (min-width: 1200px) {

    #exhibition-hero {
        width: 100%;
        height: auto;
    }

    #exhibition-main {
        background-color: darkgray;
        height: 92vh;
    }

    #eh-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 50px;
        padding: 35px 75px 20px 75px;
    }

    .eh-sub-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25vw;
        // width: 350px;
        // height: 300px;
        gap: 10px;
    }

    #eh-container .hero-sub-heading {
        font-size: 2.2vw;
    }

    #gutter-7, #gutter-8 {
        height: 50px;
        width: 100%;
        background-color: a.$accent-color;
    }

    #exhibition-social {
        background-color: a.$primary-color;
        height: auto;
        padding: 0px 0px;
    }

    #es-heading {
        font-size: 4rem;
        text-align: center;
    }

    .video-container, .video-player {
        width: 100%;
        max-width: unset;
        height: auto;
        margin: 0 auto;
        border-radius: 25px;
    }

    #es-content {
        display: flex;
        margin: 50px 0px;
        gap: 75px;
        width: 100%;
        max-width: unset;
    }

    .es-container {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        width: 25%;
        max-width: unset;
    }

    .es-sub-img {
        background-color: gray;
        height: 300px;
        width: 100%;
    }

    .es-gutter {
        height: 5px;
        width: 100%;
        background-color: a.$accent-color;
    }

    .es-sub-heading {
        color: white;
        font-size: 2rem;
    }

    .es-sub-text {
        color: white;
        font-size: 1rem;
    }
    
    #es-sub-content {
        display: flex;
        flex-direction: row;
        background-color: a.$accent-color;
    }

    #es-about-img {
        background-color: gray;
        width: 40%;
        max-width: 600px;
        height: 100%;
        order: 2;
    }

    #es-about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        max-width: unset;
        order: 1;
    }

    #es-about-heading {
        color: white;
        font-size: 3rem;
    }

    #es-about-description {
        color: white;
        font-size: 1.5rem;
    }

    #exhibition-gallery {
        width: 100%;
        background-color: a.$primary-color;
        padding: 0px 75px 35px 75px;
        gap: 10px;
    }

    #eg-heading {
        font-size: 3.5rem;
        text-align: center;
        padding-bottom: 25px;
    }

    .gallery-box {
        gap: 10px;
        width: 100%;
        height: 40vw;
        background-color: gray;
    }

    .gallery-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #eg-btn-container {
        display: flex;
        justify-content: center;
    }

    #eg-btn {
        padding: 10px 50px;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        background-color: a.$secondary-color;
        border: 3px solid  a.$accent-color;
        margin-top: 25px;
        cursor: pointer;
    }
}