@use '../abstracts' as a;

#timeline {
    display: none;
}

#wartime-hero {
    width: 100%;
    height: auto;
}

#wartime-main {
    background-color: darkgray;
    height: 92vh;
}

#wartime-main picture, #wartime-main img {
    width: 100%;
    height: 100%;
    display: block;
}

#wartime-main img {
    object-fit: cover;
}

#wh-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    background-color: a.$accent-color;
    padding: 25px 25px 20px 25px;
}

#wh-container .hero-sub-heading {
    font-size: 4vw;
}

.wh-sub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    // width: 350px;
    // height: 300px;
    gap: 10px;
} 

#timeline-section {
    width: 100%;
    background-color: a.$primary-color;
    padding: 50px 25px;
}

#timeline-content {
    height: auto;
}

#ts-header {
    color: white;
    font-size: 2rem;
    margin-bottom: 25px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

#ts-header br {
    display: none;
}

#ts-text {
    font-size: 1rem;
    font-family: a.$secondary-font;
    color: white;
    line-height: 25px;
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
}

#ts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
}

.ts-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    transition: all .3s ease;
}

#ts1-container:hover, #ts1-container:active,
    #ts4-container:hover, #ts4-container:active {
    margin: 25px 0px;
    cursor: pointer;
}

#ts2-container:hover, #ts2-container:active,
#ts3-container:hover, #ts3-container:active {
    margin: 25px 0px;
    cursor: pointer;
}

.ts-img {
    background-color: gray;
    height: 400px;
    width: 100%;
}

.ts-img picture, .ts-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.ts-img img {
    object-fit: cover;
}

.ts-year {
    position: absolute;
    top: 325px;
    align-self: center;
    font-size: 3rem;
    font-family: a.$secondary-font;
    color: white;
}

.ts-text {
    font-size: 1rem;
    color: white;
    padding: 10px 10px 20px 10px;
    font-family: a.$secondary-font;
    line-height: 25px;
}

#detail-timeline {
    position: relative;
    width: 100%;
    height: auto;
    background-color: a.$primary-color;
    padding: 0px 25px;
    z-index: 2;
}

#dt-content {
    position: unset;
    top: 0px;
}

#dt-heading {
    text-align: center;
    color: white;
    font-size: 2.3rem;
    margin-bottom: 25px;
}

#dt-main-img, #dt-sub-img {
    height: auto;
    width: 100%;
    max-width: 500px;
    background-color: gray;
    margin: 5px auto;
}

#dt-main-img picture, #dt-main-img img,
#dt-sub-img picture, #dt-sub-img img,
.dt-img picture, .dt-img img {
    width: 100%;
    height: 100%;
    display: block;
}

#dt-main-img img, #dt-sub-img img, .dt-img img  {
    object-fit: cover;
    width: 100%;
    max-width: 500px;
    // transition: all .3s ease;
}

// #dt-main-img, #dt-sub-img, .dt-img {
//     transition: all .3s ease;
//     cursor: pointer;
// }

// #dt-main-img:hover, #dt-main-img:active {
//     margin: 0px 0px 25px 0px;
// }

// #dt-sub-img:hover, #dt-sub-img:active {
//     margin: 25px 0px;
// }

// .dt-img:hover, .dt-img:active {
//     margin: 25px 0px;
// }

// #dt-img-last:hover, #dt-img-last:active {
//     margin: 25px 0px 0px 0px;
// }


#dt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
    margin-top: 5px;
}


.dt-img {
    width: 100%;
    height: auto;
    max-width: 500px;
    background-color: gray;
}

.plane {
    display: none;
}

#timeline-animation {
    position: relative;
    height: 2000px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
}

#timeline {
    display: block;
}

#timeline .mobile-plane {
    transform: scale(1.05);
}

#mobile-path {
    stroke-width: 85px;
    z-index: 0;
}

#path {
    display: none;
}

.timeline-event {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    position: absolute;
    width: 100%;
}

#timeline-1918 {
    top: 25px;
}

#timeline-1939 {
    top: 500px;
}

#timeline-1945 {
    top: 1025px;
}

#timeline-post {
    top: 1500px;
}

.te-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.te-heading {
    color: white;
    font-size: 2.3rem;
    line-height: 35px;
    padding-left: 6px;
    text-align: center;
}

.te-heading {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    color: white;
    font-size: 2.3rem;
    line-height: 35px;
    padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

#heading-post {
    font-size: 2rem;
    line-height: 35px;
    padding-left: 10px;
}

.te-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.te-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.tc-heading {
    color: white;
    font-size: 2rem;
    line-height: 35px;
}

.tc-description {
    color: white;
    font-size: 1rem;
    line-height: 20px;
    text-align: left;
}

.te-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.tc-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.te-img, .tc-content {
    width: 80%;
    justify-self: flex-end;
    align-self: flex-end;
}


@media screen and (min-width: 768px) {


    #wartime-main {
        background-color: darkgray;
        height: 92vh;
    }

    #wh-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        width: 100%;
        background-color: a.$accent-color;
        padding: 30px 25px 20px 25px;
    }

    .wh-sub-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25vw;
        gap: 10px;
    } 

    #wh-container .hero-sub-heading {
        font-size: 3vw;
    }

    #timeline-section {
        width: 100%;
        background-color: a.$primary-color;
        padding: 50px 25px;
    }


    #ts-header {
        color: white;
        font-size: 3rem;
        margin-bottom: 25px;
        width: 100%;
        max-width: unset;
        margin: 0 auto;
    }

    #ts-header br {
        display: none;
    }

    #ts-text {
        font-size: 1rem;
        color: white;
        line-height: 25px;
        width: 100%;
        max-width: unset;
        margin: 0 auto;
        padding-left: 25px;
    }

    #ts-content {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        max-width: unset;
        margin: 25px auto;
        margin-top: 50px;
    }

    .ts-container {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 250px;
        height: auto;
        transition: all .3s ease;
    }

    #ts2-container, #ts4-container {
        margin-top: -25px;
    }

    #ts1-container:hover, #ts1-container:active,
     #ts3-container:hover, #ts3-container:active {
        margin-top: 25px;
        cursor: pointer;
    }

    #ts2-container:hover, #ts2-container:active,
    #ts4-container:hover, #ts4-container:active {
        margin-top: 25px;
        cursor: pointer;
    }


    .ts-img {
        background-color: gray;
        height: 300px;
    }

    .ts-year {
        position: absolute;
        top: 225px;
        align-self: center;
        font-size: 3rem;
        color: white;
    }

    .ts-text {
        font-size: 1rem;
        color: white;
        padding: 0px;
        line-height: 25px;
    }

    #detail-timeline {
        position: relative;
        // gap: 10px;
        width: 100%;
        height: auto;
        background-color: a.$primary-color;
    }

    #dt-heading {
        font-size: 3rem;
    }


    #dt-main-img, #dt-sub-img {
        display: flex;
        height: 40vw;
        background-color: transparent;
        padding: 5px 5px;
        max-width: unset;
    }

    #dt-main-img img, #dt-sub-img img, .dt-img img  {
        object-fit: cover;
        width: 100%;
        max-width: unset;
    }

    #dt-profile-container {
        width: 100%;
        height: auto;
        max-width: unset;
        margin: 0 auto;
        pointer-events: none;
    }

    #dt-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5vw;
        height: auto;
        margin: 0px 5px;
    }


    .dt-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .dt-profile-heading {
        font-size: 2.5rem;
        color: white;
    }

    .dt-profile-text {
        font-size: 1.5rem;
        color: white;
        // margin: 0px 175px;
        width: 300px;
    }

    .dt-img {
        width: 30vw;
        height: 20vw;
        background-color: gray;
    }

    .dt-profile-img {
        // width: 8vw;
        // height: 8vw;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: grey;
    }

    .dt-profile-heading {
        font-size: 2rem;
        color: white;
    }

    .dt-profile-text {
        font-size: 1rem;
        color: white;
        // margin: 0px 175px;
        width: 400px;
    }

    .dt-img {
        width: 30vw;
        height: 20vw;
        background-color: gray;
    }

    .plane {
        display: block;
    }

    .mobile-plane {
        display: none;
    }

    #timeline-animation {
        display: flex;
        justify-content: center;
        position: relative;
        height: 1300px;
        width: 100%;
        max-width: unset;
        margin: 0 auto;
        z-index: 0;
        overflow: hidden;
    }

    #timeline {
        display: block;
    }

    #timeline .plane {
        transform: scale(.53);
    }

    #mobile-path {
        display: none;
        stroke-width: 85px;
        z-index: 0;
    }

    #path {
        display: block;
    }

    .timeline-event {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        position: absolute;
    }

    #timeline-1918 {
        top: 50px;
    }

    #timeline-1939 {
        top: 325px;
    }

    #timeline-1945 {
        top: 650px;
    }

    #timeline-post {
        margin-top: 5vw;
        top: 925px;
    }

    .te-content {
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 100%;
    }

    .te-heading {
        color: a.$primary-color;
        font-size: 2.5rem;
        line-height: 35px;
        padding-left: 0px;
        text-align: center;
    }

    .tc-heading {
        color: white;
        font-size: 2rem;
        line-height: 35px;
        padding-left: 0px;
        align-self: flex-start;
        margin-bottom: 0px;
    }

    .te-img {
        align-self: center;
        flex: 2;
    }

    .tc-img .te-img img {
        width: 100%;
        height: auto;
        overflow: hidden;
        object-fit: cover;
    }

    .tc-img img, .te-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tc-content {
        align-self: center;
        flex: 2;
    }

    .tc-description {
        color: white;
        font-size: 1.2rem;
        line-height: 20px;
        text-align: left;
    }

    #heading-post {
        font-size: 2rem;
        line-height: 35px;
        padding-left: 0px;
    }

    .te-heading {
        position: static;
        color: white;
        font-size: 2.5rem;
        line-height: 40px;
        padding-left: 0px;
        text-align: center;
    }

    #img-1939, #img-post {
        order: 3;
    }

    #heading-1939, #heading-post {
        order: 2;
    }

    #content-1939, #content-post {
        order: 1;
        text-align: right;
    }

    #content-1939 h3, #content-post h3 {
        align-self: flex-end;
    }

    #content-1939 p, #content-post p {
        text-align: right;
    }
}


@media screen and (min-width: 1200px) {

    #timeline {
        display: block;
    }

    #mobile-timeline {
        display: none;
    }

    #wartime-hero {
        width: 100%;
        height: auto;
    }

    #wartime-main {
        background-color: darkgray;
        height: 90vh;
    }

    #wh-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        width: 100%;
        background-color: a.$accent-color;
        padding: 35px 75px 20px 75px;
    }

     .wh-sub-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25vw;
        // width: 350px;
        // height: 300px;
        gap: 10px;
    } 

    #wh-container .hero-sub-heading {
        font-size: 2.2vw;
    }
    

    #timeline-section {
        width: 100%;
        background-color: a.$primary-color;
        padding: 50px 75px;
    }

    #ts-header {
        font-size: 4rem;
    }

    #ts-text {
        font-size: 1.5rem;
        line-height: 25px;
        color: white;
        padding-left: 0px;
    }

    #ts-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1vw;
        margin-top: 75px;
    }

    .ts-container {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 21vw;
        height: auto;
    }

    .ts-img {
        background-color: gray;
        height: 25vw;
    }

    .ts-year {
        position: absolute;
        top: 20vw;
        align-self: center;
        font-size: 3.5vw;
        color: white;
    }

    .ts-text {
        font-size: 1.5vw;
        color: white;
        padding: 10px 10px 20px 10px;
    }

    #detail-timeline {
        position: relative;
        width: 100%;
        height: auto;
        background-color: a.$primary-color;
        padding-bottom: 50px;
    }

    #dt-heading {
        font-size: 4rem;
    }

    #dt-main-img, #dt-sub-img {
        height: 25vw;
        margin: 10px 0px;
        max-width: unset;
        padding: 10px 10px;
    }

    #dt-main-img {
        padding-left: 50px;
    }

    #dt-sub-img {
        padding-right: 50px;
    }

    #dt-profile-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-width: unset;
        margin: 0 auto;
        pointer-events: none;
    }

    #dt-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: auto;
        margin: 0px 25px;
    }

    .dt-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #timeline-animation {
        display: flex;
        justify-content: center;
        position: relative;
        height: 1800px;
        width: 95%;
        max-width: unset;
        margin: 0 auto;
        z-index: 0;
        overflow: hidden;
    }

    #timeline {
        display: block;
    }

    #timeline .plane {
        transform: scale(.69);
    }

    #mobile-path {
        display: none;
        stroke-width: 85px;
        z-index: 0;
    }

    #path {
        display: block;
        stroke-width: 90px;
    }


    .timeline-event {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        position: absolute;
    }

    #timeline-1918 {
        top: 50px;
    }

    #timeline-1939 {
        top: 450px;
    }

    #timeline-1945 {
        top: 900px;
    }

    #timeline-post {
        top: 1300px;
    }

    .te-content {
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 100%;
    }

    .tc-content {
        gap: 25px;
    }

    .te-heading {
        color: a.$primary-color;
        font-size: 2.5rem;
        line-height: 35px;
        padding-left: 0px;
        text-align: center;
    }

    .tc-heading {
        color: white;
        font-size: 2.5rem;
        line-height: 35px;
        padding-left: 0px;
        align-self: flex-start;
        margin-bottom: 0px;
    }

    .te-img {
        align-self: center;
        flex: 2;
    }

    .tc-img .te-img img {
        width: 100%;
        height: auto;
        overflow: hidden;
        object-fit: cover;
    }

    .tc-img img, .te-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tc-content {
        align-self: center;
        flex: 2;
    }

    .tc-description {
        color: white;
        font-size: 1.5rem;
        line-height: 30px;
        text-align: left;
    }

    #heading-post {
        font-size: 2.5rem;
        line-height: 40px;
        padding-left: 0px;
    }

    .te-heading {
        position: static;
        color: white;
        // font-size: 3.5vw;
        // line-height: 3.5vw;
        font-size: 3rem;
        line-height: 45px;
        padding-left: 0px;
        text-align: center;
    }

    #img-1939, #img-post {
        order: 3;
    }

    #heading-1939, #heading-post {
        order: 2;
    }

    #content-1939, #content-post {
        order: 1;
        text-align: right;
    }

    #content-1939 h3, #content-post h3 {
        align-self: flex-end;
    }

    #content-1939 p, #content-post p {
        text-align: right;
    }

}