@font-face {
  font-family: 'ogg';
  src: url('../fonts/fonnts.com-Ogg_Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'ogg bold';
  font-weight: bold;
  src: url('../fonts/Ogg-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Baskervville';
  src: url('../fonts/Baskervville-VariableFont_wght.ttf') format('truetype'); 
}

@font-face {
  font-family: 'vipnagorgialla';
  src: url('../fonts/Vipnagorgialla\ Rg.otf') format('opentype');
}

@font-face {
  font-family: 'utairline';
  src: url('../fonts/UtAirlinesDemoRegular-JpOzB.otf') format('opentype');
}
