@import 'fonts';

//Colors
$primary-color: #0C0E0C;
$secondary-color: #333223;
$accent-color: #A08B63;

//Fonts
$primary-font: 'ogg';
$bold-font: 'ogg bold';
$secondary-font: 'utairline';
$accent-font: 'vipnagorgialla';